<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form method="POST" class="card">
<h2>Register</h2>

<input name="name" placeholder="Medicine Name" required>
<input name="batch" placeholder="Batch Code" required>
<input name="expiry" placeholder="Expiry Year" required>
<input name="salt" placeholder="Salt Composition" required>

<button type="submit">Generate QR</button>
</form>

</body>
</html>